# Gradle files
.gradle/
build/
/captures/
.externalNativeBuild/
.cxx/
local.properties

# IDE files
*.iml
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Signing files - NUNCA COMMITAR
*.jks
*.keystore
.env
keystore.properties

# APK files
*.apk
*.aab

# Log files
*.log
